{{define "formulario"}}
<div class="container mt-5">
  <h2 class="mb-3">Formulario de contacto</h2>

  {{if .mensaje}}
  <div class="alert alert-success alert-dismissible" role="alert">
    <div>{{.mensaje}}</div>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {{end}}

  <form method="POST" action="/formulario" id="miFormulario">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        name="nombre"
        required
        value="{{.nombre}}"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Correo</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        required
        value="{{.email}}"
      />
    </div>
    <button type="submit" id="button-form" class="btn btn-primary">
      Enviar
    </button>
  </form>
</div>
<script src="/static/js/form.js" defer></script>src="/static/js/form.js" defer
{{end}}
