{{define "list-es"}}
<div class="card p-2 m-auto mx-0 shadow">
  <div class="row">
    <div class="col-4 overflow-auto" style="height: 80vh">
      <div id="list" class="list-group shadow-sm">
        {{ range $index, $eventoSismico := .cardsEventoSismico }}
        <a class="list-group-item list-group-item-action" href="#{{$index}}"
          >Evento sísmico: {{ add $eventoSismico.Id 1}}</a
        >
        {{end}}
      </div>
    </div>
    <div class="col-8">
      <div
        data-bs-spy="scroll"
        data-bs-target="#list"
        data-bs-smooth-scroll="true"
        class="scrollspy p-2 pt-0 rounded-2"
        style="position: relative; height: 80vh; overflow: auto"
        tabindex="0"
      >
        {{ range $index, $eventoSismico := .cardsEventoSismico }}
        <div id="{{$index}}" class="card mb-5 m-2 shadow-sm" style="width: 95%">
          <div class="card-header pt-3">
            <h4 class="card-title">
              Evento sísmico: {{ add $eventoSismico.Id 1}}
            </h4>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush list-unstyled">
              <li>
                <strong>Fecha y hora de la ocurrencia:</strong>{{
                $eventoSismico.FechaHoraOcurrencia }}
              </li>
              <li>
                <strong>Latitud del epicentro:</strong>
                {{$eventoSismico.LatitudEpicentro }}
              </li>
              <li>
                <strong>Longitud del epicentro:</strong>
                {{$eventoSismico.LongitudEpicentro }}
              </li>
              <li>
                <strong>Hipocentro:</strong>
                {{ $eventoSismico.Hipocentro }}
              </li>
              <li>
                <strong>Valor magnitud:</strong>
                {{ $eventoSismico.ValorMagnitud }}
              </li>
              <li>
                <strong>Analista supervisor:</strong>
                {{ $eventoSismico.AnalistaSupervisorNombre}} {{
                $eventoSismico.AnalistaSupervisorApellido }}
              </li>
              <li>
                <strong>Clasificacion:</strong>
                {{ $eventoSismico.Clasificacion }}
              </li>
              <li>
                <strong>Origen del sismo:</strong>
                {{ $eventoSismico.OrigenDeGeneracion }}
              </li>
              <li>
                <strong>Alcance:</strong>
                {{ $eventoSismico.AlcanceSismo }}
              </li>
              <li>
                <strong>Estado:</strong>
                {{ $eventoSismico.EstadoActual }}
              </li>
            </ul>
          </div>
          <ul class="list-group list-group-flush">
            {{ range $Estado := $eventoSismico.Estado }}
            <div class="card-body">
              <ul class="list-group list-group-flush list-unstyled">
                <li>
                  <strong>Inicio del estado:</strong>
                  {{ $Estado.FechaHoraInicio }}
                </li>
                <li>
                  <strong>Fin del estado:</strong>
                  {{ $Estado.FechaHoraFin }}
                </li>
                <li>
                  <strong>Estado:</strong>
                  {{ $Estado.Estado }}
                </li>
                <li>
                  <strong>Responsable de la inspeccion:</strong>
                  {{ $Estado.ResponsableInspeccion }}
                </li>
              </ul>
            </div>
            {{ end }}
          </ul>
          <div class="card-body">
            <form action="/review-es" method="POST">
              <input
                type="text"
                class="form-control d-none"
                id="index"
                name="index"
                required
                value="{{$eventoSismico.Id}}"
              />
              <input type="hidden" id="accion" name="accion" value="" />
              {{ if or (eq $eventoSismico.EstadoActual "Auto Confirmado") (eq
              $eventoSismico.EstadoActual "Aceptado") }}
              <button
                type="button"
                class="btn btn-success m-2"
                onclick="submitConAccion(this.form, 'notificar')"
              >
                Notificar
              </button>
              {{else if eq $eventoSismico.EstadoActual "Pendiente de revision"}}
              <button
                type="button"
                class="btn btn-primary"
                onclick="submitConAccion(this.form,'revisar')"
              >
                Revisión
              </button>
              <button
                type="button"
                class="btn btn-danger"
                onclick="submitConAccion(this.form,'anular')"
              >
                Anular
              </button>
              {{else if eq $eventoSismico.EstadoActual "Pendiente de cierre"}}
              <button
                type="button"
                class="btn btn-danger"
                onclick="submitConAccion(this.form,'cerrar')"
              >
                Cerrar
              </button>
              {{else if or (eq $eventoSismico.EstadoActual "Auto Detectado") (eq
              $eventoSismico.EstadoActual "Derivado") }}
              <button
                type="button"
                class="btn btn-primary"
                onclick="submitConAccion(this.form,'revisar')"
              >
                Revisión
              </button>
              {{else if and (eq $eventoSismico.EstadoActual "Bloqueado")}}
              <button
                type="button"
                class="btn btn-primary"
                onclick="submitConAccion(this.form,'revisar')"
              >
                Revisión
              </button>
              {{end}}
            </form>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
<script>
  function submitConAccion(form, accion) {
    form.querySelector("#accion").value = accion;
    form.submit();
  }
</script>
{{end}}
