{{define "review-es"}}

<div class="container mt-4 text-center">
  <h1>{{ .title }}</h1>
</div>
<form action="/review-es" method="POST" id="form-review">
  <div class="d-flex flex-wrap flex-lg-wrap">
    <div class="mb-3 p-2 col-6">
      <label for="date-ocurrencia" class="form-label"
        >Fecha y hora de ocurrencia</label
      >
      <input
        type="datetime-local"
        class="form-control"
        disabled
        id="date-ocurrencia"
        value="{{.cardEventoSismico.FechaHoraOcurrencia}}"
      />
    </div>
    <div class="mb-3 p-2 col-6">
      <label for="date-fin" class="form-label">Fecha y hora fin de sismo</label>
      <input
        type="datetime-local"
        class="form-control"
        id="date-fin"
        name="date-fin"
        value="{{.cardEventoSismico.FechaHoraFin}}"
      />
    </div>
    <div class="mb-3 p-2 col-4">
      <label for="latitud-epicentro" class="form-label"
        >Latitud epicentro</label
      >
      <input
        type="text"
        class="form-control"
        id="latitud-epicentro"
        name="latitud-epicentro"
        value="{{.cardEventoSismico.LatitudEpicentro}}"
        disabled
      />
    </div>
    <div class="mb-3 p-2 col-4">
      <label for="longitud-epicentro" class="form-label"
        >Longitud epicentro</label
      >
      <input
        type="text"
        class="form-control"
        id="longitud-epicentro"
        name="longitud-epicentro"
        value="{{.cardEventoSismico.LongitudEpicentro}}"
        disabled
      />
    </div>
    <div class="mb-3 p-2 col-4">
      <label for="hipocentro" class="form-label">Hipocentro</label>
      <input
        type="text"
        class="form-control"
        id="hipocentro"
        name="hipocentro"
        value="{{.cardEventoSismico.Hipocentro}}"
        disabled
      />
    </div>
    <div class="mb-3 p-2 col-4">
      <label for="valor-magnitud" class="form-label">Valor Magnitud</label>
      <input
        type="text"
        class="form-control"
        id="valor-magnitud"
        name="valor-magnitud"
        value="{{.cardEventoSismico.ValorMagnitud}}"
        required
      />
    </div>
    <div class="mb-3 p-2 col-4">
      <label for="analista" class="form-label">Analista supervisor</label>
      <input
        type="text"
        class="form-control"
        disabled
        id="analista"
        value="{{.cardEventoSismico.AnalistaSupervisorNombre}} {{.cardEventoSismico.AnalistaSupervisorApellido}}"
      />
    </div>
    <div class="mb-3 p-2 col-4">
      <label for="clasificacion" class="form-label">Clasificacion</label>
      <input
        type="text"
        class="form-control"
        disabled
        id="clasificacion"
        value="{{.cardEventoSismico.Clasificacion}}"
      />
    </div>
    <div class="mb-3 p-2 col-4">
      <label for="origen" class="form-label">Origen</label>
      <select id="origen" name="origen" class="form-select" required>
        {{ range $index, $o := .origenGeneracion }} {{ if eq $o.Nombre
        $.cardEventoSismico.OrigenDeGeneracion }}
        <option value="{{$o.Nombre}}" selected>{{ $o.Nombre }}</option>
        {{else}}
        <option value="{{$o.Nombre}}">{{ $o.Nombre }}</option>
        {{end}} {{end}}
      </select>
    </div>
    <div class="mb-3 p-2 col-4">
      <label for="alcance" class="form-label">Alcance del sismo</label>
      <select id="alcance" name="alcance" class="form-select" required>
        {{ range $index, $a := .alcanceSismo }} {{ if eq $a.Nombre
        $.cardEventoSismico.AlcanceSismo }}
        <option value="{{$a.Nombre}}" selected>{{ $a.Nombre }}</option>
        {{else}}
        <option value="{{$a.Nombre}}">{{ $a.Nombre }}</option>
        {{end}} {{end}}
      </select>
    </div>
    <div class="mb-3 p-2 col-4">
      <label for="estado" class="form-label">Ultimo estado</label>
      <input
        type="text"
        class="form-control"
        disabled
        id="estado"
        value="{{.cardEventoSismico.EstadoActual}}"
      />
    </div>
  </div>

  <div class="my-1 p-2 d-flex">
    <input type="hidden" id="accion" name="accion" value="" />
    <button
      type="submit"
      class="btn btn-success m-2"
      onclick="submitConAccion(this.form,'aceptado')"
    >
      Aceptar
    </button>
    {{if ne .cardEventoSismico.EstadoActual "Derivado"}}
    <button
      type="submit"
      class="btn btn-primary m-2"
      onclick="submitConAccion(this.form,'derivado')"
    >
      Derivar
    </button>
    {{end}}
    <button
      type="submit"
      class="btn btn-danger m-2"
      onclick="submitConAccion(this.form,'rechazado')"
    >
      Rechazar
    </button>
  </div>
  <input
    type="text"
    class="form-control d-none"
    id="index"
    name="index"
    required
    value="{{.cardEventoSismico.Id}}"
  />
</form>

<!-- Modal -->
<div
  class="modal fade"
  id="modal"
  tabindex="-1"
  aria-labelledby="modalLabel"
  aria-hidden="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">Mapa</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Desea visualizar en un mapa el evento sísmico y las estaciones
        sismológicas involucradas
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          No
        </button>
        <button type="button" class="btn btn-primary">Si</button>
      </div>
    </div>
  </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div
    id="liveToast"
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-header shadow-sm">
      <strong class="me-auto">Notificacion</strong>
      <small>Now</small>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div class="toast-body" id="toastBody">Enviando..</div>
  </div>
</div>

<script>
  function submitConAccion(form, accion) {
    form.querySelector("#accion").value = accion;
    document.getElementById("toastBody").innerText = "Evento sismico " + accion;
    setTimeout(function () {
      form.submit();
    }, 1000);
  }

  document.addEventListener("DOMContentLoaded", function () {
    var myModal = new bootstrap.Modal(document.getElementById("modal"));
    myModal.show();

    const form = document.getElementById("form-review");
    form.addEventListener("submit", function (e) {
      e.preventDefault();

      const toastLive = document.getElementById("liveToast");

      const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLive);
      toastBootstrap.show();
    });
  });
</script>

{{end}}
